Repository SocialiteProviders/Providers, pull requests merged in 2020-06, with the labels that each got.

#422 Add FranceConnect Provider
  src/FranceConnect/FranceConnectExtendSocialite.php
  src/FranceConnect/Provider.php
  src/FranceConnect/User.php
  src/FranceConnect/composer.json
Labels: needs documentation, new provider

#385 [Passport] Make getUserByToken always returns an array
  src/LaravelPassport/Provider.php
Labels: bug

#433 [steam] Fix "realm and return_to do not match" when using HTTP
  src/Steam/Provider.php
Labels: bug

#388 Add Xero OAuth2 Provider
  src/Xero/Provider.php
  src/Xero/XeroExtendSocialite.php
  src/Xero/composer.json
Labels: needs documentation, new provider

#436 Add Sage Provider
  src/Sage/Provider.php
  src/Sage/SageExtendSocialite.php
  src/Sage/composer.json
  src/Xero/composer.json
Labels: new provider

#435 Adds Procore provider
  monorepo-builder.yml
  src/Procore/ProcoreExtendSocialite.php
  src/Procore/Provider.php
  src/Procore/composer.json
Labels: awaiting review

#439 Ability to use proxies when requesting
  src/Steam/Provider.php
Labels: enhancement

#442 Add provider Faceit
  monorepo-builder.yml
  src/Faceit/FaceitExtendSocialite.php
  src/Faceit/Provider.php
  src/Faceit/composer.json
Labels: new provider
