Repository SocialiteProviders/Providers, pull requests merged in 2020-05, with the labels that each got.

#360 Added Instagram Basic API
  monorepo-builder.yml
  src/InstagramBasic/InstagramBasicExtendSocialite.php
  src/InstagramBasic/Provider.php
  src/InstagramBasic/composer.json
Labels: approved, new provider

#386 Getty Images in providers
  monorepo-builder.yml
  src/GettyImages/GettyImagesExtendSocialite.php
  src/GettyImages/Provider.php
  src/GettyImages/composer.json
Labels: needs documentation, new provider

#371 add provider ZALO - https://developers.zalo.me
  src/Zalo/Provider.php
  src/Zalo/ZaloExtendSocialite.php
  src/Zalo/composer.json
Labels: needs documentation, new provider

#407 Added Nocks Provider
  src/Nocks/NocksExtendSocialite.php
  src/Nocks/Provider.php
  src/Nocks/composer.json
Labels: needs documentation, new provider

#405 Added Sign in with Apple Socialite Provider
  src/Apple/AppleExtendSocialite.php
  src/Apple/Provider.php
  src/Apple/composer.json
Labels: awaiting review, new provider

#373 Add Auth0 socialite provider
  monorepo-builder.yml
  src/Auth0/Auth0ExtendSocialite.php
  src/Auth0/Provider.php
  src/Auth0/composer.json
Labels: new provider

#414 fix: skip verifier for goodreads
  src/Goodreads/Provider.php
Labels: bug

#420 Fix provider to work with updated SciStarter API
  src/SciStarter/Provider.php
Labels: bug
